.o_web_client {
    button.fa::before,
    .btn.fa::before {
        font-family: "FontAwesome" !important;
        font-style: normal;
        font-weight: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .o_searchview_icon.oi.oi-search::before,
    .o_optional_columns_dropdown_toggle.oi.oi-settings-adjust::before,
    .o_facet_remove.oi.oi-close::before,
    .o_button_icon.oi.oi-arrow-right::before,
    .oi.oi-arrow-right::before,
    .oi.oi-chevron-left::before,
    .oi.oi-chevron-right::before,
    .oi.oi-view-list::before,
    .oi.oi-view-kanban::before,
    .oi.oi-view-pivot::before {
        font-family: "FontAwesome" !important;
        font-style: normal;
        font-weight: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .o_searchview_icon.oi.oi-search::before { content: "\f002"; }
    .o_optional_columns_dropdown_toggle.oi.oi-settings-adjust::before { content: "\f1de"; }
    .o_facet_remove.oi.oi-close::before { content: "\f00d"; }
    .o_button_icon.oi.oi-arrow-right::before,
    .oi.oi-arrow-right::before { content: "\f178"; }
    .oi.oi-chevron-left::before { content: "\f053"; }
    .oi.oi-chevron-right::before { content: "\f054"; }
    .oi.oi-view-list::before { content: "\f03a"; }
    .oi.oi-view-kanban::before { content: "\f009"; }
    .oi.oi-view-pivot::before { content: "\f0ce"; }
}
